[submodule "themes/next/source/lib/reading_progress"]
	path = themes/next/source/lib/reading_progress
	url = https://github.com/theme-next/theme-next-reading-progress
[submodule "themes/next/source/lib/bookmark"]
	path = themes/next/source/lib/bookmark
	url = https://github.com/theme-next/theme-next-bookmark.git
[submodule "themes/next3"]
	path = themes/next3
	url = https://github.com/theme-next/hexo-theme-next.git
