// body {
//     //background:url("https://ws4.sinaimg.cn/large/006tNbRwgy1fw06ii7fllj30b40b7jrw.jpg");
//     }


// // .site-title {
// //     font-size: 23px !important;
// //     font-family: 'Hiragino Sans GB' !important;
// // }

// .post-title {
//     //font-size: 22px !important;
//     //font-family: Merriweather, 'Hiragino Sans GB' !important;
//     font-weight:900;
// }


// // code {
// //     color: #ccc;
// //     background: #2d2d2d;
// //     margin: 2px;
// //     font-family: Fira Mono
// // }

// // blockquote{
// //     color:#8e8e8e
// // }
// // 大代码块的自定义样式
// // .highlight, pre {
// //     margin: 5px 0;
// //     padding: 5px;
// //     border-radius: 3px;
// // }
// // .highlight, code, pre {
// //     border: 1px solid #d6d6d6;
// // }
