body { background:url(https://s1.ax1x.com/2018/09/19/ieOeyQ.png);}


// .site-title {
//     font-size: 23px !important;
//     font-family: 'Hiragino Sans GB' !important;
// }

.post-title {
    //font-size: 22px !important;
    //font-family: Merriweather, 'Hiragino Sans GB' !important;
    font-weight:900;
}
