if theme.mathjax && theme.mathjax.enable
  if theme.mathjax.per_page
    if is_post() || is_page()
      include ./mathjax.pug
  else
    if page.mathjax
      include ./mathjax.pug

if theme.katex && theme.katex.enable
  if theme.katex.per_page
    if is_post() || is_page()
      include ./katex.pug
  else
    if page.katex
      include ./katex.pug

if theme.mermaid.enable
  script(type='text/javascript', id='maid-script' mermaidoptions=theme.mermaid.options src='https://cdn.jsdelivr.net/npm/mermaid@'+ theme.mermaid.version + '/dist/mermaid.min.js')
  script.
    if (window.mermaid) {
      var options = JSON.parse(document.getElementById('maid-script').getAttribute('mermaidoptions'));
      mermaid.initialize(options);
    }
  //- include ./mermaid.pug